* {
  box-sizing: border-box;
}

.Game {
  width: 450px;
  text-align: center;
  margin: 0 auto;
}

.board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.board-cell {
  height: 150px;
  line-height: 150px;
  font-size: 30px;
  border: 1px solid #000;
  flex-basis: 33.33%;
}
